.c-control-view
{
    background: #DDD;
    height: 100vh;
}

.c-control-view-selector
{
    height: 15vh;
    padding-top: 5vh;
    font-size: 1.25em;
}

.c-control-view-chart-container
{
    height: 75vh;
}

.c-control-view-chart
{
    height: 100%;
    width: 100%;
}

.info-data-field
{
    cursor: default !important;
}

.info-data-field-true
{
    background: #007B52;
}

.info-data-field-false
{
    background: #d9534f;
}